        <nav class="col-sm-2 col-md-1 hidden-xs-down bg-faded sidebar d-flex align-content-between flex-wrap">
          <ul class="nav nav-pills flex-column d-flex align-content-between flex-wrap">
            <li class="nav-item">
              <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About author</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </nav>