<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <img src="../assets/water/purpleStar.png" alt="" class="img-fluid hoverEffect">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <img src="../assets/water/starry.png" alt="" class="img-fluid hoverEffect">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <img src="../assets/water/fishes.png" alt="" class="img-fluid hoverEffect">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>