<app-side-nav> </app-side-nav>
<div class="container-fluid topPadding">
  <div class="row">
    <div class="col-md-2 sideNav noLeftPadding">
    </div>
    <div class="col-md-1 offset-sm-1">
    </div>
    <div class="col-md-2">
      <div>
        <img src={{tetris}} alt="logo" class="img-fluid logo hoverEffect" on-mouseover="tetrisClick()">
      </div>
    </div>
    <div class="col-md-4 offset-sm-1">

      <div (click)="changeBox()" class="wholeTextbox">
        <div class="avatarMessages">
          <div class="onImage">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3">
                  <img src="../assets/outside/myHead.png" alt="avatar head" class="img-fluid avatarHead">
                </div>
                <div class="col-md-9">
                  <p class="typewriter">{{typewriter.message}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 d-flex justify-content-end">
      <div class="meAndDag">
        <img src={{purpleT}} alt="" class="img-fluid tetrisBlock d-flex justify-content-center hoverEffect" on-mouseover="purpleT = '../assets/outside/purpleTclick.png'" on-mouseleave="purpleT = '../assets/outside/purpleT.png'">
        <img src="../assets/me.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>
