.cave {}

.onImage {
  position: absolute;
}

.caveContainer {
  min-height: 77vh;
}

.viewHeight {
  min-height: 77vh;
}

.pokeball {
  margin-bottom: 15vh;
  width: 65%;
}

.redPanda {
  width: 64%;
  margin-bottom: 5vh;
}

.typewriter {
  z-index: 100;
  font-family: 'VT323', monospace;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #f6f6f6;
}

.onImage {
  cursor: pointer;
  min-width: 100%;
  border-radius: 20px;
  font-weight: 900;
  display: inline-block;
  letter-spacing: 0.2em;
  font-size: 23px;
  color: white;
  padding: 10px;
  border: white 6px inset;
  background: linear-gradient( #316196, #316196, #2a5380, #2a5380, #224367, #224367, #1a3450, #1a3450, #152b42, #152b42);
}

.icons {
  margin-bottom: 30%;
  width: 80%;
}
.textWidth {
    height: 24vh;
}
.absolute {
  /*position: absolute;*/
}

.crystal {
  width: auto%;
  height: 19%;;
  /*margin-bottom: 50%;*/
}
.absolutePos {
  position: absolute;
  top: 60%;
    right: 0;
    width: 90%;
    height: 40vh;
    /*border: 3px solid #73AD21;*/
}
.relativePos {
    /*position: relative;*/
    /*display: flex;
    align-self: center;
    z-index: 100;
    width: 80%;
    height: auto;
    margin-left: 3%;
    margin-top: 0%;
    margin-bottom: 3.7%;*/
    /*width: 100vw;*/
    /*height: 40vh;*/
    /*border: 9px solid #73AD;*/
}
.dimentions {
  width: 100vw;
  height: 40vh;
}
.pinkCrystal {
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 0%;
}
.blueCrystal {
  margin-top: 12%;
  margin-left: -7%;
  margin-right: 0%;
}
.redCrystal {
  margin-top: 3%;
  margin-left: -3%;
  margin-right: 0%;
}
.greenCrystal {
  margin-top: 15%;
  margin-left: 6%;
  margin-right: 0%;
}
.yellowCrystal {
  margin-top: 1%;
  margin-left: -5%;
  margin-right: 0%;
}
.lightBlueCrystal {
  margin-top: 12%;
  margin-left: -2%;
  margin-right: 0%;
}
.purpleCrystal {
  margin-top: 6%;
  margin-left: 0%;
  margin-right: 6%;
}
