<div class="container-fluid caveContainer">
  <div class="row viewHeight">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <img src="../assets/water/diploma.png" alt="" class="img-fluid hoverEffect">
          </div>
          <div class="col-md-6">
            <img src="../assets/water/apple.png" alt="" class="img-fluid hoverEffect">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <img src="../assets/water/desk.png" alt="" class="img-fluid hoverEffect">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex align-content-end justify-content-center">
      <img src={{cave}} alt="" class="img-fluid cave d-flex align-self-end">
    </div>
    <div class="col-md-3">
      <div class="container-fluid">
        <div class="row d-flex flex-column align-content-between flex-wrap ">
          <div class="col-md-3">
            <img src="../assets/cave/pokeball.png" alt="" class="img-fluid pokeball hoverEffect" on-mouseover="randomPokemon()" on-mouseleave="cave = '../assets/cave/cave/caveZero.png'">
          </div>
          <div class="col-md-12">
            <div class="onImage" (click)="changeBox()">
              <p class="typewriter">{{typewriter.message}}</p>
            </div>
          </div>
          <div class="col-md-7">
            <img src="../assets/cave/redPanda.png" alt="" class="img-fluid redPanda hoverEffect">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
